.kzui-main-page {
    margin: 0 auto;
    padding: 20px 160px;
}

.kzui-main-page h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.kzui-main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    align-items: start;
}

/* Sidebar */
.kzui-sidebar {
    grid-column: 1 / 2;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 223);
    border-radius: 16px;
    padding: 14px;
    /* Extra Soft */
    box-shadow: 0px 1px 2px 0px rgba(229, 229, 230, 0.24);
    background: rgb(255, 255, 255);
}

/* Main content */
.kzui-main-content {
    grid-column: 2 / 3;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 223);
    border-radius: 16px;
    min-height: 100vh;
    padding: 28px;
    box-shadow: 0px 1px 2px 0px rgba(229, 229, 230, 0.24);
    background: rgb(255, 255, 255);
}