/* Header */
.kzui-mcp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: #333;
    box-sizing: border-box;
    border-top: 1px solid rgb(221, 221, 223);
    border-bottom: 1px solid rgb(221, 221, 223);
}


.kzui-mcp-header ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.kzui-mcp-header ul li {
    cursor: pointer;
}

.kzui-mcp-header ul li:nth-child(1) {
    color: #000000;
}

.kzui-mcp-search input {
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 223);
    border-radius: 6px;
    background: rgb(255, 255, 255);
}

input:focus {
    outline: none;
}

/* Table Container */
.kzui-color-table-container {
    width: 100%;
    margin: 0 auto;
}

.kzui-color-table {
    width: 100%;
    border-collapse: collapse;
}

.kzui-color-table th,
.kzui-color-table td {
    padding: 10px;
    text-align: left;
}

.kzui-color-table-row {
    transition: background-color 0.3s;
    cursor: pointer;
}
.kzui-table-cell input[type="text"] {
    padding: 5px;
}

/* Initially hide move button, checkbox, and three-dot button */
.kzui-table-cell .kzui-move-button,
.kzui-table-cell .kzui-cell-checkbox,
.kzui-table-cell .kzui-three-dot-button-main {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show move button, checkbox, and three-dot button on hover */
.kzui-color-table-row:hover .kzui-table-cell .kzui-move-button,
.kzui-color-table-row:hover .kzui-table-cell .kzui-cell-checkbox,
.kzui-color-table-row:hover .kzui-table-cell .kzui-three-dot-button-main {
    opacity: 1;
    visibility: visible;
}

/* Ensure checkbox remains visible when checked */
.kzui-cell-checkbox:checked {
    opacity: 1 !important;
    visibility: visible !important;
}

/* Styling for table cells */
.kzui-table-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.kzui-cell-checkbox {
    margin-right: 10px;
}

.kzui-move-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    color: #333;
    transition: color 0.3s ease;
}

.kzui-move-button:hover {
    color: #156bed;
}

.kzui-color-input-div {
    display: flex;
}

.kzui-color-input input {
    width: 50px;
    border: none;
    border-radius: 4px;
}

/* Three-dot button */
.kzui-three-dot-button,
.kzui-three-dot-button-main {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.kzui-three-dot-button:hover {
    color: #156bed;
}

/* Popup menu */
.kzui-popup-menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
    width: 120px;
    border-radius: 4px;
}

.kzui-popup-option {
    padding: 5px;
    cursor: pointer;
}

.kzui-popup-option:hover {
    background-color: #f5f5f5;
}

.kzui-actions {
    position: relative;
}



/* Add Button */
.kzui-add-new-item {
    background: none;
    border: none;
    font-size: 18px;
    margin: 10px 0;
}


/* MainContent.kzui-css */

.kzui-drawer {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease; 
    z-index: 1000;
}

.kzui-drawer.kzui-open {
    right: 0;
}

.kzui-drawer-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    height: 100%;
}

.kzui-drawer h2 {
    margin-bottom: 20px;
}

.kzui-drawer input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    /* width: 100%; */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.kzui-name-input input[type="text"] {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

.kzui-drawer-color-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.kzui-drawer input[type="color"] {
    padding: 5px;
    border: none;
    cursor: pointer;
}

.kzui-drawer-actions {
    display: flex;
    justify-content: space-between;
}

.kzui-drawer-actions button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.kzui-drawer-actions button:hover {
    background-color: #0056b3;
}

.kzui-drawer-actions button:last-child {
    background-color: #6c757d;
}

.kzui-drawer-actions button:last-child:hover {
    background-color: #5a6268;
}


/* Modal Overlay */
.kzui-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Modal Content */
.kzui-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Modal Title */
.kzui-modal-content h2 {
    margin-top: 0;
    font-size: 1.kzui-5rem;
    margin-bottom: 20px;
}

/* Modal Input Field */
.kzui-modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Modal Actions (Buttons) */
.kzui-modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Modal Action Buttons */
.kzui-modal-actions button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Cancel Button */
.kzui-modal-actions button:first-child {
    background-color: #f5f5f5;
}

/* Save Button */
.kzui-modal-actions button:last-child {
    background-color: #156BED;
    color: white;
}

.kzui-modal-actions button:last-child:hover {
    background-color: #104bb5;
}

/* bottom popup */
.kzui-bottom-popup {
    width: 400px;
    position: fixed;
    bottom: 10%;
    left: 60%;
    transform: translateX(-60%);
    right: 0;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.kzui-bottom-popup button{
        background-color: #156BED;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 3px;
    
}



/* Group Table */

.kzui-group-header{
    display: flex;
    align-items: center;
}
.kzui-group-table {
    width: 100%;
    border-collapse: collapse;
}


.kzui-group-table-cell{
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-align: left;
}
.kzui-group-table-cell [type="text"]{
    padding: 5px;
}

.kzui-group-table-row{
    width: 100%;
    color: #333;
    display: flex;
    justify-content: space-between;
}


/* Group Info */



.kzui-group-title span {
    font-size: 20px;
    font-weight: 500;
}

